.action {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action::before {
    display: inline-block;
    content: "";
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}