.main-section {
    background-color: #EA2027;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #34495e;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #EA2027;
}